/* poppins font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

/* roboto mono font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* source code pro font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* cinzel font-family: 'Cinzel', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');

/* silkscreen font-family: 'Silkscreen', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #04242f;
}

section .hero{
    display: flex;
    padding: 10px;
    border:5px solid aqua;
    background-color: wheat;
    color: white;
}

.intro{
    padding: 10px;
    font-family: 'Roboto Mono',monospace;
    border:5px solid rgb(2, 177, 177);
}

.profile{
    display: flex;
    flex-direction: column;
    border:5px solid rgb(2, 177, 177);
}

.image-card{
    padding: 10px;
    height: 500px;
    border:5px solid rgb(2, 177, 177);
}

.name-card{
    font-size: 30px;
    border:5px solid rgb(2, 177, 177);
}


section img{
    animation: img-card 3s ease 1;
    height: 450px;
    width: 450px;
    border-radius: 20px;
}

@keyframes img-card {
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

section h1{
    font-family: "Cinzel",serif;
    animation: name-card 2s ease 1;
    text-align:center;
}

@keyframes name-card {
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

section:nth-child(1){
    color:aliceblue;
}

section:nth-child(2){
    color:#04242f;
    background-color: aliceblue;
}

section:nth-child(3){
    color:aliceblue;
}

section:nth-child(4){
    color:#04242f;
    background: aliceblue;
}

section .container{
    margin: 100px;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .card{
    display: flex;
}

section .card .text-card{
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 255, 255, 0.256);
    border-radius: 15px;
}

section .card .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1{
        font-size: 20px;
    }
    section .card{
        flex-direction: column;
    }
    section .hero{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

